nav#headerNav
    p
        a(href="/") 사원관리웹앱
        // 인덱스 메인 페이지 이동
    ul
        li
            a(href="/emp/list.do") 사원 리스트
        li
            a(href="/emp/insert.do") 사원 등록
        li
            a(href="/dept/list.do") 부서 리스트
        li
            a(href="/dept/insert.do") 부서 등록


