extends layout
block content
    main
        h1 라우터로 동적 페이지들을 특정 page 로 구분하자!
        p 한 페이지에 모든 라우팅이 존재하면 복잡해져서 유지보수가 힘들어진다.=> 해결) 라우터
        h2 scott.emp 의 CRUD 페이지를 라우터로 적용하자!



        //nav
        //    li
        //        a(href="/emp/list.do") 사원 리스트
        //    li
        //        a(href="/emp/insert.do") 사원 등록
            // 네이게이션이 항상 따라다니게 만들기. 네비게이션 템플릿
            // 헤더에 있는 네비게이션이다~! 하고 별도로 pug 템플릿 만들기 => headerNav.pug